﻿@model SchoolOfRock.Web.Models.BaseCreateOrEditModel<SchoolOfRock.Core.Models.Traning>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Форма создания/редактирования курса";
}

<h2>@ViewData["Title"]</h2>
<hr />
<form asp-action="CreateOrEdit" enctype="multipart/form-data">
    <div class="form-horizontal">
        @{
            if (Model.model.Id > 0)
            {
                <input asp-for="model.Id" hidden />
            }
        }

        <div class="form-group">
            <label class="col-xs-2">Название</label>
            <div class="col-xs-10">
                <input class="form-control" asp-for="model.Name" />
                <span asp-validation-for="model.Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2">Описание</label>
            <div class="col-xs-10">
                <textarea class="form-control" asp-for="model.Description"></textarea>
                <span asp-validation-for="model.Description" class="text-danger"></span>
            </div>
        </div>

        <input type="submit" class="form-control" />
    </div>
</form>