﻿@model SchoolOfRock.Web.Models.ScheduleSettingModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Форма настройки занятий";
}

<h2>@ViewData["Title"]</h2>
<hr />
<form asp-action="ScheduleEdit" enctype="multipart/form-data">
    <div class="form-horizontal">
        <table class="table" id="schedule-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Название курса</th>
                    <th>Дата/Время</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int index = 0;
                    foreach (var item in Model.ScheduleList)
                    {

                        <tr>
                            <td>
                                <input asp-for="ScheduleList[index].Id" class="form-control" readonly />
                            </td>
                            <td>
                                @Model.ScheduleList[index].Traning.Name
                                <input asp-for="ScheduleList[index].TraningId" hidden />
                            </td>
                            <td>
                                <input asp-for="ScheduleList[index].Date" class="form-control" readonly />
                            </td>
                        </tr>

                        index++;
                    }
                }
            </tbody>
        </table>

        <input type="button" class="form-control" id="add-schedule-item" value="Добавить занятие" />

        <input type="submit" class="form-control" />
    </div>
</form>

@section Scripts{
    <script>
        window.delayedFunction['set-dinamic-schedule-items'] = function ()
        {
            window.ScheduleCount = @Model.ScheduleList.Count();

            $('#add-schedule-item').click(function()
            {
                $.ajax({
                    method : "POST",
                    url : '/Traning/GetScheduleForm',
                    data : {
                        index : window.ScheduleCount,
                        traningId : @Model.TraningId,
                    },
                    success : function(html)
                    {
                        $('#schedule-table').children('tbody').append(html);
                        window.ScheduleCount++;
                    },
                    error : function(message)
                    {
                        //$('#schedule-table').children('tbody').append(html);
                        console.log(message);
                    }
                });
            });
        }
    </script>
}